<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <title>nodejs</title>
  </head>
  <body>
    <h1>Node.js</h1>
    <p>
      Node.js is a JavaScript runtime built on Chrome's V8 JavaScript engine.
    </p>
    <p>
      Node.js uses an event-driven, non-blocking I/O model that makes it
      lightweight and efficient.
    </p>
    <p>
      Node.js' package ecosystem, npm, is the largest ecosystem of open source
      libraries in the world.
    </p>
  </body>
</html>
